<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">

        <div class="btn-group mb-1" role="group">
          <button type="button" id="btn-signin" class="btn">signIn</button>
          <button type="button" id="btn-signup" class="btn">signUp</button>
        </div>

        <div id="signup" class="d-none">
          <fieldset>
              <div class="form-group">
                  <div class="input-group padding-left-right">
                      <div class=" input-group-prepend">
                        <span class="input-group-text w-100 justify-content-center">
                            <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                      <input tpye="text" id="signup-e-mail" class="form-contorl" placeholder="e-mail" aria-label=="e-mail">
                  </div>
                </div>
      
                <div class="form-group">
                  <div class="input-group padding-left-right">
                      <div class=" input-group-prepend">
                        <span class="input-group-text w-100 justify-content-center">
                            <i class="fas fa-unlock-alt"></i>
                        </span>
                      </div>
                      <input tpye="password" id="signup-password" class="form-contorl" placeholder="password" aria-label="password">
                  </div>
                </div>
      
                <div class="form-group">
                    <div class="input-group padding-left-right">
                        <div class=" input-group-prepend">
                          <span class="input-group-text w-100 justify-content-center">
                            <i class="fas fa-unlock-alt"></i>
                          </span>
                        </div>
                        <input tpye="password" id="signup-confirm-password" class="form-contorl" placeholder="confirm password" aria-label="confirm password">
                    </div>
                </div>
      
                <button type="submit" id="signup-submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </div>

        <div id="signin">
          <fieldset>
              <div class="form-group">
                  <div class="input-group padding-left-right">
                      <div class=" input-group-prepend">
                        <span class="input-group-text w-100 justify-content-center">
                            <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                      <input tpye="text" id="signin-e-mail" class="form-contorl" placeholder="e-mail" aria-label="e-mail">
                  </div>
              </div>
      
              <div class="form-group">
                <div class="input-group padding-left-right">
                    <div class=" input-group-prepend">
                      <span class="input-group-text w-100 justify-content-center">
                          <i class="fas fa-unlock-alt"></i>
                      </span>
                    </div>
                    <input tpye="password" id="signin-password" class="form-contorl" placeholder="password" aria-label="password">
                </div>
              </div>
    
              <button type="submit" id="signin-submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </div>
          
      </div>
  </body>
  <%include outerinclude.ejs %>
  <script src="../javascripts/index.js"></script>
</html>
