<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <button type="button" id="signout" class="btn btn-sm float-right">signOut</button>

        <span id="greeting" class="float-right mr-1"></span>

        <div id="insert-form" class="d-none">

            <span id="email"></span>

            <fieldset>
              <div class="form-group">
                <div class="input-group padding-left-right">
                    <div class=" input-group-prepend">
                      <span class="input-group-text w-100 justify-content-center">
                          <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input tpye="text" id="name" class="form-contorl" placeholder="name" aria-label="name">
                </div>
              </div>
            
              <div class="form-group">
                  <div class="input-group padding-left-right">
                      <div class=" input-group-prepend">
                        <span class="input-group-text w-100 justify-content-center">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="date" id="birthday" class="form-contorl" aria-label="birthday">
                  </div>
              </div>

          </fieldset>
        </div>

        <button type="submit" id="submit" class="btn btn-primary d-none">Submit</button>
        <button type="submit" id="back" class="btn d-none">back</button>

        <table id="user-table" class="table table-striped d-none">
          <thead>
            <tr>
                <th scope="col">帳號</th>
                <th scope="col">姓名</th>
                <th scope="col">生日</th>
                <th scope="col">操作</th>
            </tr>
            <tbody id="userInfo"></tbody>
          </thead>
        </table>

      </div>
  </body>
  <%include outerinclude.ejs %>
  <script src="../javascripts/user.js"></script>
</html>